    <%= form_for @contact,:html => {multipart: true , :class => "form-horizontal contact" } do |f| %>

  <% if @contact.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @contact.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :number, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :number, :class => 'form-control' %>
    </div>
    <%=f.error_span(:number) %>
  </div>
  <div class="form-group">
    <%= f.label :position, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :position, :class => 'form-control' %>
    </div>
    <%=f.error_span(:position) %>
  </div>
  <div class="form-group">
    <%= f.label :field_company, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :field_company, :class => 'form-control' %>
    </div>
    <%=f.error_span(:field_company) %>
  </div>
  <div class="form-group">
    <%= f.label :email, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :email, :class => 'form-control' %>
    </div>
    <%=f.error_span(:email) %>
  </div>
  <div class="form-group">
    <%= f.label :comment, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :comment, :class => 'form-control' %>
    </div>
    <%=f.error_span(:comment) %>
  </div>

  
  <% if not @contact.photo_file_name %> 
    <div class="form-group">
      <%= f.label :photo, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.file_field :photo %>
      </div>
      <%=f.error_span(:comment) %>
    </div>
  <% else  %> 
    <div class="form-group">
      <%= f.label :photo, :class => 'control-label col-lg-2' %>
        <div class="col-lg-10">
          <%= f.file_field :photo %>
        </div>
      <%=f.error_span(:comment) %>
      
    </div>
    <div class="form-group">
      <%= f.label :photo,"current photo name: ", :class => 'control-label col-lg-2' %>
        <div class="col-lg-10">
        <%= @contact.photo_file_name %>
        </div>

      
    </div>


  <% end %> 
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to "cancel",contacts_path ,class:"btn btn-primary" %>
    </div>
  </div>
<% end %>
